
<div class="about">
	<div class="about-image"> 
		<%= image_tag("colortape.jpg", :style => "width:100%") %>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="about-block"> 
				<%= image_tag("about-01.jpg") %>
			</div>
			<div class="about-block"> 
				<p> 
					<br>
					
					Daniella Batlle la marca homónima de la Diseñadora barranquillera, quien hace 2 años regreso a su tierra natal para cumplir uno de sus más grandes sueños; convertirse en la mejor diseñadora de modas Colombiana.
					<br>
					<br>
				Desde muy corta edad Daniella acentuó su marcada vena artística lo que la llevó a estudiar Diseño de Modas en LaSalle College International de Bogotá. En el año 2006 trabajó en el área administrativa de la reconocida marca Salomon Azulu. En 2010 fue la Diseñadora Senior de Wabi Swimwear: vestidos de baño y ropa de playa que junto a la Fundación Angelitos de Luz daban trabajo a madres cabeza de familia de bajos recursos. En 2011 participó en Plataforma K y ColombiaModa con Wabi Swimwear.
					<br>
					<br>
				Motivada por el deseo de expresar su propia vision de la moda, en 2014 Daniella decidió crear su propia marca. Com entusiasmo y fuerza abrió su taller de trabajo. Capacitó a su costurera de toda la vida y le dieron vida a su imaginación.
					<br>
					<br>
				Cada prenda se destaca por sus detalles y la calidad de sus materiales. Le Jardín, su primera colección, combina el arte gráfico y el handmade.
					<br>
					<br>
				Con solo 7 meses en el mercado, Daniella ha participado en distintas ferias de moda. En Barranquilla Fashion Week se le otorgó el título de Diseñador Revelación; representó a Colombia en la pasarela Trade Expo de Miami. Continuó su recorrido por Plataforma K y logró la nominación a Diseñador Revelación y Complementos y Accesorios en los Premios Cromos de la Moda. </p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="about-block-2 about-block"> 
				<p> “Diseño es exclusividad, por eso en nuestro taller todo es creacion nuestra, desde las telas hasta los moldes. Vigilamos cada proceso con los maximos estandares de calidad." </p>
			</div>
			<div class="about-block-2 about-block"> 
				<%= image_tag("about-02.jpg") %>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12">
			<div class="">
			</div>
		</div>
	</div>
</div>
