
<div class="about">
	<div class="about-image"> 
		<%= image_tag("bwtape2.jpg", :style => "width:100%") %>
	</div>
</div>

<div class="about-text">
	<h1>Daniella Batlle</h1>
		<p> 
			Daniella Batlle la marca homónima de la Diseñadora Barranquillera, quien hace 2 años regreso a su tierra natal para cumplir uno de sus más grandes sueños; convertirse en la mejor diseñadora de modas Colombiana.
		</p>
		<p> 
			Desde muy corta edad, Daniella, acentuó su marcada vena artística, lo que la llevó a estudiar Diseño de Modas en LCI (LaSalle College International) de Bogotá. En el año 2006 culminó sus estudios y comenzó a dar sus primeros pasos trabajando en el área administrativa de la reconocida marca de ropa Salomon Azulu. Para el año 2010 Daniella Batlle hacia parte como Diseñadora Senior de un proyecto de moda llamado Wabi Swimwear. Una marca de vestidos de baño y ropa de playa que junto a la Fundación Angelitos de Luz daba trabajo a madres cabeza de familia de bajos recursos. Representando Wabi Swimwear, Daniella participó en importantes ferias de moda nacional como Plataforma K y ColombiaModa en el año 2011.
		</p>
		<p> 
			Hace 10 meses la diseñadora Daniella Batlle decidió hacer un cambio importante en su vida, crear su propia marca. Llena de entusiasmo y fuerza, comenzó a reunir lo necesario, llegando así a abrir su taller de trabajo. Contactó a la costurera que le había cocido toda la vida a su abuela, le enseño técnicas que había aprendido en la universidad, y puso su mente a volar. Hoy en día cuenta con 6 empleados en el taller.
		</p>
		<p> 
			Daniella ha creado colecciones en las que se ha destacado su gusto por el arte gráfico y el handmade (hecho a mano). Le Jardin, su primera colección a causado impacto por los estampados coloridos. Tocado así con fuerza los universos ligados a la moda contemporánea y sofisticada.
		</p>
		<p> 
			Cada colección se destaca por la importancia que le da a los detalles y sobretodo por la calidad de sus materiales; convirtiéndose así en aspectos de vital importancia para sus creaciones. 
		</p>
		<p class="quote">
			“Trabajo en nuestro taller todos  los días. Los diseños gráficos son exclusivos, las telas son diseñadas por mí,  la moldería es hecha por mí, todos los procesos pasan por mis manos para garantizar excelencia en las prendas, quiero mostrar que mi marca  tiene continuidad y puede perdurar en el tiempo. Todo ha sido positivo, siento que no es un golpe de suerte, sino el resultado de un arduo trabajo que ha tenido como objetivo ofrecer un producto de calidad”.
		</p>
		<p> 
			Con tan solo 7 meses en el mercado, Daniella ha participado en distintas ferias de moda en Colombia. Comenzando por Barranquilla Fashion Week, donde se le otrogó el título como Diseñador Revelación; ganándose así la representación de Colombia en una pasarela en Miami, conocida como Colombia Trade Expo. Continuo su recorrido por Plataforma K en Barranquilla; una participación que le simbolizó la nominación a Diseñador Revelación y Complementos y Accesorios en los Premios Cromos de la Moda. 
		</p>
		<p> 
			Su próximo gran paso será la pasarela Non Stop en ColombiaModa 2015, allí presentará al público su colección primavera verano 2016  “Kanaás”  y durante la feria sus prendas estarán ubicadas en el stand 007 en el Vogue Corner.
		</p>
</div>

