<div class="nav-placeholder" style="height:100px"> </div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div id="baq-image" class="store-image">
				
			</div>
			<div class="store-info"> 
				<h3> BARRANQUILLA </h3>
				<h4> Palmas Mall</h4>
				<p>  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> &nbsp <%= link_to("Cra 51B no 82-100 Local 3", "https://www.google.at/maps/place/Centro+Comercial+Palmas+Mall/@11.0051153,-74.8151288,15z/data=!4m2!3m1!1s0x0:0x1f28285d4f8a5f05") %> </p>
				<p> <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> </p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div id="ctg-image" class="store-image"> 
				<%= image_tag("stdom-02.png", class: "img1") %>
			</div>
			<div class="store-info"> 
				<h3> CARTAGENA  </h3>
				<h4> St Dom </h4>
				<p>  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> &nbsp <%= link_to("Clle Santo Domingo no 33-70", "https://www.google.at/maps/place/St.+Dom/@10.42375,-75.552114,15z/data=!4m2!3m1!1s0x0:0xc51307824282175d") %> </p>	
				<p> <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> </p>
			</div>
		</div>
	</div>
</div>


