

.content-block {
	margin-top: 40px;
	width: 350px;
	height: 350px;
	float: right;
	border: 3px solid black;
	margin-right: 15px;

}

.content-block-2 {
	float: left;
	margin-left: 15px;
}

#slider {
	width: 100% !important;
	height: 700px !important;
	position: fixed;
	top: 50px;
}